#mdb-sidenav .sidenav-collapse, .sidenav .rotate-icon {
      transition-property: none;
    }

    #mdb-sidenav .fas {
      color: #9FA6B2;
    }
    #mdb-sidenav a {
      color: #4B5563;
    }
    #mdb-sidenav a.active {
      background-color: rgba(18,102,241,.05);
    }
    #mdb-sidenav .sidenav-item {
      margin-left: 5px;
      margin-right: 5px;
    }
    #mdb-sidenav .sidenav-item:first-child {
      margin-top: 4px;
    }
    #mdb-sidenav .sidenav-item:last-child {
      margin-bottom: 4px;
    }

    #mdb-sidenav-toggler {
      display: none;
      background-color: transparent;
    }

    .mdb-docs-layout {
      padding-left: 240px;
    }

    @media (max-width: 1440px) {
      #mdb-sidenav-toggler {
        display: unset;
      }

      #mdb-sidenav {
        transform: translate(-100%);
      }

      .mdb-docs-layout {
        padding-left: 0px;
      }
    }

    .sidenav-icon {
      color: #9fa6b2;
      height: 14px;
    }