body {
    background: gray;
    font-family: roboto;
    text-align: center;
}

h1, h3 {
    color: #fff;
}

.tengah {
    margin: 10px auto;
    width: 1150px;
}

.kotak1 {
    background: plum;
    padding: 20px;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
}

.kotak2 {
    background: plum;
    padding: 20px;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
    -ms-transform: translate(50px, 100px); /*support IE 9*/
    -webkit-transform: translate(50px, 100px); /*support safari*/
    transform: translate(50px, 100px); /*standard syntax*/
}